/.vs/Experimentation/v15/Server/sqlite3/db.lock
/.vs/Experimentation/v15/Server/sqlite3/storage.ide
/.vs/Experimentation/v15/Server/sqlite3/storage.ide-shm
/.vs/Experimentation/v15/Server/sqlite3/storage.ide-wal
/Experimentation/.vs/Experimentation/DesignTimeBuild/.dtbcache
/Experimentation/.vs/Experimentation/v15/.suo
/Experimentation/.vs/Experimentation/v15/Server/sqlite3/db.lock
/Experimentation/.vs/Experimentation/v15/Server/sqlite3/storage.ide
/Experimentation/.vs/Experimentation/v15/Server/sqlite3/storage.ide-shm
/Experimentation/.vs/Experimentation/v15/Server/sqlite3/storage.ide-wal
/Experimentation/bin/Debug/netcoreapp2.1/Experimentation.deps.json
/Experimentation/bin/Debug/netcoreapp2.1/Experimentation.dll
/Experimentation/bin/Debug/netcoreapp2.1/Experimentation.pdb
/Experimentation/bin/Debug/netcoreapp2.1/Experimentation.runtimeconfig.dev.json
/Experimentation/bin/Debug/netcoreapp2.1/Experimentation.runtimeconfig.json
/Experimentation/obj/Debug/netcoreapp2.1/Experimentation.AssemblyInfo.cs
/Experimentation/obj/Debug/netcoreapp2.1/Experimentation.AssemblyInfoInputs.cache
/Experimentation/obj/Debug/netcoreapp2.1/Experimentation.RazorAssemblyInfo.cache
/Experimentation/obj/Debug/netcoreapp2.1/Experimentation.RazorAssemblyInfo.cs
/Experimentation/obj/Debug/netcoreapp2.1/Experimentation.RazorTargetAssemblyInfo.cache
/Experimentation/obj/Debug/netcoreapp2.1/Experimentation.assets.cache
/Experimentation/obj/Debug/netcoreapp2.1/Experimentation.csproj.CoreCompileInputs.cache
/Experimentation/obj/Debug/netcoreapp2.1/Experimentation.csproj.FileListAbsolute.txt
/Experimentation/obj/Debug/netcoreapp2.1/Experimentation.csprojAssemblyReference.cache
/Experimentation/obj/Debug/netcoreapp2.1/Experimentation.dll
/Experimentation/obj/Debug/netcoreapp2.1/Experimentation.pdb
/Experimentation/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Experimentation/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Experimentation/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Experimentation/obj/Experimentation.csproj.nuget.cache
/Experimentation/obj/Experimentation.csproj.nuget.g.props
/Experimentation/obj/Experimentation.csproj.nuget.g.targets
/Experimentation/obj/project.assets.json
